@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Global font */
* {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}